<section class="vh-100" style="background-color: #9BBBE3;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/img/login.png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top: 30%;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (submit)="login()">
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Bienvenido, ingresa con tu cuenta</h5>
  
                    <div class="form-outline mb-3">
                        <label class="form-label" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" formControlName="email"/>              
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="pass">Password</label>
                        <input type="password" id="pass" class="form-control form-control-lg" formControlName="pass" />
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn-login btn-lg" type="submit"  [disabled]="loginForm.invalid" >Login</button>
                    </div>

                    <p class="mb-5 pb-lg-2" style="color: #393f81;">No tienes una cuenta? <a [routerLink]="['/signup']"
                        style="color: #393f81;">Registrarse</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>