.text-center{
    text-align: center;
}
.example-container{
    height: 50%;
    width: 20%;
    text-align: left;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-form-field{
    width: 100%;
}
.mt-top{
    margin-top: 30px;
}
.mt-top-2{
    margin-top: 10px;
}

.btn-login{
    width: 100%;
    background-color: #0070E0;
    color: white;
    border-color: #0070E0;
    
}

.btn-login:hover {
    background-color: white; /* Green */
    color: #0070E0;
      
}